body {
	background: #424242;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
    padding: 0;
}

.container-grid{
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto 1fr;
}

/* COOKIES */
.cookie_consent {
	background-color: #18b4f7;
	color: white;
	text-align: center;
	width: 100%;
}
.btn{
	display: flex;
	justify-content: flex-end;
}
/* MENU*/
ul{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

nav .menu a{
	text-decoration: none;
	margin: 2rem;
	color: white;

}
nav a:hover{
	font-size: 120% ;

}

/* HEADER */
header .container{
	display: flex;
	justify-content: space-around;
}
.search input[type=text], .search button {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: white;
}
.search button {
  float: right;
  padding: 10px 20px;
  margin-top: 8px;
  margin-right: 16px;
  background: lightgray;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
/* CATEGORIES*/
.categories{
	background-color: white;
}
.categories a{
	color: black;	
	text-decoration: none;
}
.categories .menu{
	display: flex;
}
.categories .menu li{
	text-align: left;
	padding: 1px;
	border-top: 1px solid black;
}
.categories .title{
	background-color: #18b4f7;
	flex: 30%;
	color: white;
	padding: 1px;
}
/* TEMOIGNAGE */
.testimonials{
  position: relative;
  top: 150px;
  left: 0px;
}
.testimonials p{
	text-align: right;
	margin-right: 50px;
	height: 100px;
	padding: 10px;
}
.testimonials p span{
	color: blue;
	font-style: italic;	
}
/* FIL D'ARIANE */
.fil{
	display: flex;
	justify-content: flex-start;
}
.fil a::after {
    display: inline-block;
    color: #000;
    content: '>>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
    position: relative;
}
/* STATISTICS*/
.statistics{
	display: grid;
	background-color: white;
	
}
.statistics .title{
	background-color: goldenrod;
	color: white;
  	padding:1px;
}
/* FORMULAIRE */
.formulaireText{
	display: flex;
	align-items: flex-start;
	margin-left: 100px;
	position: relative;
	bottom: 250px;

	
}
.formulaire-border{
	position: relative;
	left: 100px;
	border: 1px solid black;
	height: 500px;
	width: 80%;
}
.fb{
	display: flex;
	justify-content: flex-end;

	
}
/* VIDEO + TABLEAU SCORE */
.video-scores{
	display: flex;
	justify-content: space-around;
}
/* TABLEAU SCORE */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 300px;
}
th {
  background-color: lightblue;
}
tfoot td {
	background-color: lightblue;
}
 #top3{
	background-color: lightgreen;
}
 .derniers{
  background: lightgrey;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    bottom: 0px;
}

.fa-rotate--45 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    bottom: 0px;
}
.lienHautPage{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
	margin-right: 10px;
}
/* footer */
footer {
	color: darkgrey;
	text-align: center;
	font-size: 15px;
	border-top-style: dotted;
	border-top-width: 2px;
	margin: 50px;
	padding: 25px;
	width: 100%;
	grid-column: span 2;
	position: relative;
	right: 80px;
}

footer p {
	padding: 30px;
	text-align: center;
}

.footer a:link {
  color: white;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.footer ul li{
	position: relative;
	right: 500px;
}
/* MEDIA QUERIES */
@media screen and (max-width:  800px){
	body{
		background-color: lightblue;
		
	}
	header .container{
		display: flex;
		flex-direction: column;
	}
	header .container .logo{
		position: relative;
		left: 250px;
	}
	header .container .pub{
		position: relative;
		left: 50px;
	}
	.container-grid{
		display: flex;
		flex-direction: column;
	}
	.categories{
		min-height: 800px;
	}
	.categories .menu{
		justify-content: center;
	}
	.categories nav a{
		flex-direction: row;
		margin:  0 10px;

	}
	.testiomonials {
		flex-direction: row;
		justify-content: center;
		min-height: 500px;
	}
	.formulaire-border{
		flex-direction: column;
	}
	.video-scores{
		flex-direction: column;
	}
	.video{
		position: relative;
		right: -200px;
	}
	.scores{
		position: relative;
		right: -250px;
	}
	.lienHautPage{
	}

}
/* HEADER */